---
import HeroBanner from "../components/HeroBanner.astro";
import BaseLayout from "./BaseLayout.astro";

---

<BaseLayout>
    <HeroBanner
        caption="Integrated Data Service"
        title="A better way to connect with government data"
        description="The Integrated Data Service (IDS) is bringing together data from across the UK government and Devolved Administrations, providing new ways to give you the data you need."
        image="https://source.unsplash.com/9l98kFByiao/"
    />
    <div class="ids-container">
        <slot></slot>
    </div>
</BaseLayout>

